In [655]:
import seaborn as sb
from sklearn.preprocessing import LabelEncoder

In [656]:
df = sb.load_dataset("tips")
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [657]:
encoder = LabelEncoder()
df['sex'] = encoder.fit_transform(df['sex'])

df['smoker'] = encoder.fit_transform(df['smoker'])

df['day'] = encoder.fit_transform(df['day'])

df['time'] = encoder.fit_transform(df['time'])

#use encoder to turn sring based data into intiger based data
df

     total_bill   tip  sex  smoker  day  time  size
0         16.99  1.01    0       0    2     0     2
1         10.34  1.66    1       0    2     0     3
2         21.01  3.50    1       0    2     0     3
3         23.68  3.31    1       0    2     0     2
4         24.59  3.61    0       0    2     0     4
..          ...   ...  ...     ...  ...   ...   ...
239       29.03  5.92    1       0    1     0     3
240       27.18  2.00    0       1    1     0     2
241       22.67  2.00    1       1    1     0     2
242       17.82  1.75    1       0    1     0     2
243       18.78  3.00    0       0    3     0     2

[244 rows x 7 columns]

In [658]:
from sklearn.model_selection import train_test_split 
X = df.drop(['tip'], axis = 1)
#X is df dataframe but with dropped tip column. (column being shown by "axis = 1")
y = df['tip']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [659]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)

0.06063908081110714

In [662]:
total_bill_user = float(input("total bill?"))
sex_user = int(input("server sex?   (0 for female, 1 for male)"))
smoker_user = float(input("smoker?   (0 for no, 1 for yes)"))
day_user = float(input("day of the week?   (0 for sunday, 1 for monday,...)"))
time_user = float(input("time?   (0 for dinner, 1 for lunch,...)"))
size_user = float(input("size?"))

a = [[total_bill_user, sex_user, smoker_user, day_user, time_user, size_user]]
y_pred = model.predict(a)
print(y_pred)

[2.7839999]

C:\Users\HP\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(